/* @import url('style.css'); */


/* Área de Busca */


.container-form {
  background-image: url(../images/bg-search.jpg);
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-control-tags {
  justify-content: center;
  padding-top: 13.875rem;
}

.form-control-tags input {
  width: 24.1875rem;
  height: 2.5rem;
  padding: 1rem;
  border-radius: var(--bd-3x);
}

.form-control-tags button {
  padding: 0.5rem 0.8rem;
  margin-left: 1rem;
  
  background-color: var(--white);
  color: var(--bg-color);
  border: 1px solid var(--white);
  border-radius: var(--bd-3x);
}

.form-control-tags button:hover {
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--white);
  border: 1px solid var(--white);
}

@media screen and (max-width: 375px) {
  .flex {
    flex-wrap: wrap;
  }
}